body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slider-container {
    width: auto;
    margin: auto;
    overflow: auto;
    background-color: black;
}

.slider {
    display: flex;
    justify-content: space-between;
    
}
.slideAlignment {
    width: 25%; padding: 10px; border-radius: 30px;
}